@model MVC_HDL_NathanDougherty.Models.hdl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>hdl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteDog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteDog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastAte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastAte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
